# Example terraform.tfvars file
# Copy this to terraform.tfvars and customize for your deployment

# Required:
# TwelveLabs API Key - Get this from your TwelveLabs account
twelvelabs_api_key = "<twelvelabs api key>"


# Defaults provided:
# AWS CLI Profile - Update to match your AWS CLI profile name
aws_profile = "default"

# AWS Region - Update to match where your secrets and resources should be deployed
aws_region = "us-east-1" # or ap-northeast-2, us-west-2, etc.

# Secrets Manager - Name of your secret containing API keys and RDS credentials
secrets_manager_name = "kubrick_secret"

# Database credentials - These will be stored securely in AWS Secrets Manager
db_username = "postgres"
db_password = "password"

# API Gateway Stage Name - Deployment stage for the API
stage_name = "v1_0"
